I am interested in helping companies improve their work efficiency by creating and improving tools they use often.

My theoretical background is in Computer Science, and I have experience with full-stack web, mobile, game design, robotics and more!
I pride myself on my wide range of skills and ability to pick up new things quickly.

If you are interested in working together, send me an email at <a href="mailto:info@123ishatest.com">info@123ishatest.com</a>!
